.body {
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;    
    align-items: center;
    justify-content: center;
    background: #C8EAEB;
    overflow: auto;
    
}
.cont{
    background: #C8EAEB;
    overflow: auto;    
    
}
.h6{
    text-align: left;
    padding-left:40px;
    padding-top: 40px;
    height: 50px;
    width: 150px;
}

.shelf {    
    background-color: #5a3f21;
    width: 520px;
    height: 20px;
    position: relative;
}

.clock {
    width: 110px;
    height: 110px;
    background-color: #e9e6c9;
    border: 10px solid #5aa668;
    border-radius: 50%;
    position: absolute;
    left: 30px;
    top: -135px;
}

.knot {
    width: 10px;
    height: 10px;
    background-color: #9d374f;
    border-radius: 50%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 9;
}

.hand {
    width: 4px;
    height: 50px;
    background-color: #47211a;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -100%);
    transform-origin: bottom;
}

.hour-hand {
    height: 30px;
    transform: translate(-50%, -100%) rotate(45deg);
}

.min-hand {
    height: 40px;
    width: 3px;
    transform: translate(-50%, -100%) rotate(160deg);
}

.second-hand {
    height: 47px;
    width: 2px;
    transform: translate(-50%, -100%) rotate(-40deg);
}

.clock-ear-left {
    height: 30px;
    width: 60px;
    background-color: #5aa668;
    position: absolute;
    left: -38px;
    top: -12px;
    border-radius: 90px 90px 0 0;
    transform: rotate(-50deg);
}

.clock-ear-left::after {
    content: "";
    width: 15px;
    height: 8px;
    background-color: #9d374f;
    position: absolute;
    top: -9px;
    left: 23px;
    border-radius: 90px 90px 0 0;
}

.clock-ear-right {
    height: 30px;
    width: 60px;
    background-color: #5aa668;
    position: absolute;
    right: -38px;
    top: -12px;
    border-radius: 90px 90px 0 0;
    transform: rotate(50deg);
}

.clock-ear-right::after {
    content: "";
    width: 15px;
    height: 8px;
    background-color: #9d374f;
    position: absolute;
    top: -9px;
    right: 23px;
    border-radius: 90px 90px 0 0;
}

.clock-foot-left {
    height: 50px;
    width: 12px;
    background-color: #47211a;
    position: absolute;
    left: 20px;
    bottom: -25px;
    transform: rotate(30deg);
    z-index: -1;
}

.clock-foot-right {
    height: 50px;
    width: 12px;
    background-color: #47211a;
    position: absolute;
    right: 20px;
    bottom: -25px;
    transform: rotate(-30deg);
    z-index: -1;
}

/* Books */
.book-1 {
    height: 170px;
    width: 40px;
    background-color: #9d374f;
    position: absolute;
    left: 210px;
    top: -170px;
}

.book-1::before, .book-2::before, .book-3::before {
    content: "";
    height: 20px;
    width: 100%;
    background-color: #e9e6c9;
    position: absolute;
    top: 20px;
}

.book-1::after, .book-2::after, .book-3::after {
    content: "";
    height: 100%;
    width: 50%;
    background-color: black;
    opacity: 0.15;
    position: absolute;
    top: 0;
    right: 0;
}

.book-2 {
    height: 195px;
    width: 40px;
    background-color: #e86830;
    position: absolute;
    left: 250px;
    top: -195px;
}

.book-3 {
    height: 180px;
    width: 40px;
    background-color: #5aa668;
    position: absolute;
    left: 290px;
    top: -180px;
}

/* Cactus */
.cactus {
    width: 100px;
    height: 180px;    
    position: absolute;
    left: 380px;
    top: -180px;
}

.pot {
    width: 100%;
    height: 50%;
    position: absolute;
    bottom: 0;
    background-color: blue;
}

.pot-bottom {
    width: 100%;
    height: 70%;
    background-color: #ce4f17;
    position: absolute;
    bottom: 0;
}

.pot-top {
    width: 140%;
    height: 30%;
    background-color: #a03d12;
    position: absolute;
    top: 0;
    left: -20%;
}

.plant-left {
    width: 45%;
    height: 35%;
    background-color: #5aa668;
    position: absolute;
    bottom: 50%;
    left: 5%;
    border-radius: 50px 50px 0 0;
}

.plant-right {
    width: 45%;
    height: 50%;
    background-color: #5aa668;
    position: absolute;
    bottom: 50%;
    right: 5%;
    border-radius: 50px 50px 0 0;
}